<% layout('components/boilerplate.ejs') -%>
<link rel="stylesheet" href="/stylesheets/baseball.css">

<div>
    <div style="margin-bottom: 20px;">
        <div class="subHeader">
            <h4 class="tierClass" style="color: #ff570a; text-shadow: 1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;"><span>&nbsp;엘리트 클래스</span><img src="\pictures\medal.png" alt=""></h4>
                <div class="selectTier">
                    <h2>모집중인 경기<i>-baseball-</i></h2>
                </div>
            </div>
            <br>
            <div class="tierDropDown">
                <%- include('index.ejs') %>
            </div>
            <table class="table text-center">
                <thead class="align-middle">
                    <tr>
                        <th scope="row" class="col-1">지역</th>
                        <td class="col-2">시간</td>
                        <td class="col-6">내용</td>
                        <td class="col-1">작성자(등급)</td>
                        <td class="col-2">신청</td>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <% for(let product of products) { %>
                        <% if(product.tier==='elite' ) { %>
                            <tr>
                                <th scope="row">
                                    <%=product.area%>
                                </th>
                                <td>
                                    <%=product.time%>
                                </td>
                                <td>
                                    <%=product.contents%>
                                </td>
                                <td>
                                    <%=product.username%>(<%=product.fair_tier%>)
                                </td>
                                <td>
                                    <% if(!product.application) { %>
                                        <% if (currentUser) { %>
                                        <form action="/products/<%= product._id %>/apply" method="POST" 
                                            onsubmit="return confirm('신청하시겠습니까?');">
                                            <button type="submit" class="applyButton">신청하기</button>
                                        </form>
                                        <% } else { %>
                                            <button type="submit" class="applyButton" onclick="apply()">신청하기</button>
                                            <% } %>
                                    <% } else {%>
                                        <button class="disabledButton" disabled>신청 마감</button>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                                <% } %>
                </tbody>
            </table>
        </div>
    </div>