<% layout('components/boilerplate.ejs') -%>
    <link rel="stylesheet" href="/stylesheets/baseball.css">

    <div>
        <div>
            <br>
            <h4 class="tierClass"
                style="color: #f9f91f; text-shadow: 1px 1px #ff0101, -1px -1px #ff0101, 1px -1px #ff0101, -1px 1px #ff0101;">
                &nbsp;프로 클래스<img src="\pictures\actor.png" alt=""></h4>
            <div class="selectTier">
                <h2>모집중인 경기<i>-baseball-</i></h2>
                <%- include('index.ejs') %>
            </div>
            <table class="table text-center">
                <thead class="align-middle">
                    <tr>
                        <th scope="row" class="col-2">지역</th>
                        <td class="col-2">시간</td>
                        <td class="col-6">내용</td>
                        <td class="col-2">신청</td>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <% for(let product of products) { %>
                        <% if(product.tier === 'pro') { %>
                        <tr>
                            <th scope="row">
                                <%=product.area%>
                            </th>
                            <td>
                                <%=product.time%>
                            </td>
                            <td>
                                <%=product.contents%>
                            </td>
                            <td><button class="applyButton" onclick="apply()">신청하기!</button></td>
                        </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="m-5">
            <%- include('board.ejs') %>
        </div>
    </div>