<style>
    .btn-danger-to-delete {
        border-radius: 17px;
        background: none;
        color: #ff0a54;
        border: 2px solid;
        padding: 0.3em 1.2em;
        font-size: var(16px);
        transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
    }


    .btn-danger-to-delete:hover {
        border-color: #ff0a54;
        color: white;
        background-color: #ff0a54;
        /* offset-x | offset-y | blur-radius | spread-redius | color */
        box-shadow: 0em 0.3em 0.3em -0.1em #ff0a54;
        transform: translateY(-0.1em);
        cursor: pointer;
    }

    .btn-info-to-value {
        border-radius: 17px;
        background: none;
        color: #4895ef;
        border: 2px solid;
        padding: 0.3em 1.2em;
        font-size: var(16px);
        transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
    }


    .btn-info-to-value:hover {
        border-color: #4895ef;
        color: white;
        background-color: #4895ef;
        /* offset-x | offset-y | blur-radius | spread-redius | color */
        box-shadow: 0em 0.3em 0.3em -0.1em #4895ef;
        transform: translateY(-0.1em);
        cursor: pointer;
    }
</style>
<% layout('components/boilerplate.ejs') -%>
    <% if(currentUser) { %>
        <link rel="stylesheet" href="/stylesheets/mypage.css">
        <div class="headerDiv">
            <h1 class="mypageHeader">
                <%= currentUser.username %>님의 신청현황
            </h1>
            <div class="box">
                <h2 class="fair_tier">페어점수:
                    <%= currentUser.fair_tier %>
                </h2>
            </div>

            <div class="box">
                <a class="newGameLink" href="/mypage/new">
                    <button class="btn btn-info newGame">
                        새로운 경기 등록하기
                    </button>
                </a>
                <a class="newGameLink" href="/mypage">
                    <button class="btn btn-success applyGame">
                        내가 등록한 경기 목록보기
                    </button>
                </a>
            </div>
        </div>

        <% } %>

            <h2 class="registedPlay box">신청한 경기🔥</h2>
            <table class="table text-center">
                <thead class="align-middle">
                    <tr>
                        <th scope="row" class="col-1">종목</th>
                        <td class="col-2">시간</td>
                        <td class="col-1">지역</td>
                        <td class="col-4">내용</td>
                        <td class="col-1">작성자(페어점수)</td>
                        <td class="col-1">취소하기</td>
                    </tr>
                </thead>
                <% for(let product of products) { %>
                    <% if (product.application===false) { %>
                        <% for(let game of product.submittedNum) { %>
                            <% if(game.username===currentUser.username && game.phone_num===currentUser.phone_num) { %>
                                <tbody class="align-middle">
                                    <tr>
                                        <th scope="row">
                                            <% switch (product.sport) { case 'basketball' : %> 농구 <% break; %>
                                                    <% case 'baseball' : %> 야구 <% break; %>
                                                            <% case 'soccer' : %> 축구 <% break; %>
                                                                    <% case 'futsal' : %> 풋살 <% break; %>
                                                                            <% default: %> 기타 <% break; %>
                                                                                    <% } %>
                                        </th>
                                        <td>
                                            <%=product.formattedDay%>
                                                <div class="time-highlight">
                                                    <%=product.formattedTime%>
                                                </div>
                                        </td>
                                        <td>
                                            <%=product.area%>
                                        </td>

                                        <td class="content">
                                            <%=product.contents%>
                                        </td>
                                        <td>
                                            <%= product.username %>(<%= product.fair_tier %>)
                                        </td>
                                        <td>
                                            <form action="/products/<%= product._id %>/popData" method="POST"
                                                onsubmit="return confirm('신청을 취소하시겠습니까?');">
                                                <button class="btn btn-danger-to-delete">취소하기</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                                <% } %>
                                    <% } %>
                                        <% } %>
                                            <% } %>
            </table>
            <br><br><br>

            <h2 class="registedPlay box">마감된 경기🎯</h2>
            <table class="table text-center">
                <thead class="align-middle">
                    <tr>
                        <th scope="row" class="col-1">종목</th>
                        <td class="col-2">시간</td>
                        <td class="col-1">지역</td>
                        <td class="col-4">내용</td>
                        <td class="col-1">작성자(페어점수)</td>
                        <td class="col-1">평가하기</td>
                    </tr>
                </thead>
                <% for(let product of products) { %>
                    <% if (product.application===true) { %>
                        <% for(let game of product.submittedNum) { %>
                            <% if(game.username===currentUser.username && game.phone_num===currentUser.phone_num) { %>
                                <tbody class="align-middle">
                                    <tr>
                                        <th scope="row">
                                            <% switch (product.sport) { case 'basketball' : %> 농구 <% break; %>
                                                    <% case 'baseball' : %> 야구 <% break; %>
                                                            <% case 'soccer' : %> 축구 <% break; %>
                                                                    <% case 'futsal' : %> 풋살 <% break; %>
                                                                            <% default: %> 기타 <% break; %>
                                                                                    <% } %>
                                        </th>
                                        <td>
                                            <%=product.formattedDay%>
                                                <div class="time-highlight">
                                                    <%=product.formattedTime%>
                                                </div>
                                        </td>
                                        <td>
                                            <%=product.area%>
                                        </td>

                                        <td class="content">
                                            <%=product.contents%>
                                        </td>
                                        <td>
                                            <%= product.username %>(<%= product.fair_tier %>)
                                        </td>
                                        <td>
                                            <a href="/mypage/<%= product._id %>/value">
                                                <button class="btn btn-info-to-value">평가하기</button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <% } %>
                                    <% } %>
                                        <% } %>
                                            <% } %>
            </table>
            <br><br>

            