<% layout('components/boilerplate.ejs') -%>
    <% if(currentUser) { %>
        <link rel="stylesheet" href="/stylesheets/mypage.css">
        <div class="headerDiv">
            <h1 class="mypageHeader">
                <%= currentUser.username %>님의 마이페이지
            </h1>
            <div class="box">
                <h2 class="fair_tier">페어점수:
                    <%= currentUser.fair_tier %>
                </h2>
            </div>
            
            <div class="box">
                <button class="btn btn-info newGame">
                    <a class="newGameLink" href="/mypage/new">새로운 경기 등록하기</a>
                </button>
                <button class="btn btn-warning applyGame">
                    <a class="newGameLink" href="#">신청한 경기 목록보기</a>
                </button>
            </div>
        </div>
        <div class="mainBox">
            <h2 class="registedPlay box">내가 등록한 경기들⏳</h2>
            <table class="table text-center">
                <thead class="align-middle">
                    <tr>
                        <th scope="row" class="col-1">종목</th>
                        <td class="col-2">시간</td>
                        <td class="col-1">지역</td>
                        <td class="col-4">내용</td>
                        <td class="col-1">티어</td>
                        <td class="col-1">자세히 보기</td>
                    </tr>
                </thead>
                <% for(let product of products) { %>
                    <% if(product.username===currentUser.username &&product.application===false) { %>
                        <tbody class="align-middle">
                            <tr>
                                <th scope="row">
                                    <% switch (product.sport) { case 'basketball' : %> 농구 <% break; %>
                                           <% case 'baseball': %> 야구 <% break; %>
                                            <%    case 'soccer': %> 축구 <% break; %>
                                              <%      case 'futsal': %> 풋살 <% break; %>
                                                <%        default: %> 기타 <% break; %>
                                                            <% } %>
                                </th>
                                <td>
                                    <%=product.formattedDay%>
                                    <div class="time-highlight">
                                        <%=product.formattedTime%>
                                    </div>                           
                                </td>
                                <td>
                                    <%=product.area%>
                                </td>
                                
                                <td class="content">
                                    <%=product.contents%>
                                </td>
                                <td>
                                    <%= product.tier.charAt(0).toUpperCase() + product.tier.slice(1) %>
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary" href="/mypage/<%= product._id %>">보기</a>
                                </td>
                            </tr>
                        </tbody>
                        <% } %>
                    <% } %>
            </table>
            <br><br>
            <h2 class="registedPlay box">마감된 경기들🚩</h2>
            <table class="table text-center">
                <thead class="align-middle">
                    <tr>
                        <th scope="row" class="col-1">종목</th>
                        <td class="col-2">시간</td>
                        <td class="col-1">지역</td>
                        <td class="col-4">내용</td>
                        <td class="col-1">티어</td>
                        <td class="col-1">자세히 보기</td>
                    </tr>
                </thead>
                <% for(let product of products) { %>
                    <% if(product.username===currentUser.username &&product.application===true) { %>
                        <tbody class="align-middle">
                            <tr>
                                <th scope="row">
                                    <% switch (product.sport) { case 'basketball' : %> 농구 <% break; %>
                                           <% case 'baseball': %> 야구 <% break; %>
                                            <%    case 'soccer': %> 축구 <% break; %>
                                              <%      case 'futsal': %> 풋살 <% break; %>
                                                <%        default: %> 기타 <% break; %>
                                                            <% } %>
                                </th>
                                <td>
                                    <%=product.formattedDay%>
                                    <div class="time-highlight">
                                        <%=product.formattedTime%>
                                    </div>                           
                                </td>
                                <td>
                                    <%=product.area%>
                                </td>
                                
                                <td class="content">
                                    <%=product.contents%>
                                </td>
                                <td>
                                    <%=product.tier%>
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary" href="/mypage/<%= product._id %>">보기</a>
                                </td>
                            </tr>
                        </tbody>
                        <% } %>
                    <% } %>
            </table>
        </div>
        <% } %>