<% layout('components/boilerplate.ejs') -%>
    <link rel="stylesheet" href="/stylesheets/value.css">
    <div class="allDiv">
        <div class="gameDiv">
            <h2 class="game box">경기 정보 🔍</h2>
            <Br>
            <table class="table text-center table_explain">
                <thead class="align-middle" id="explainHead">
                    <tr>
                        <th scope="row" class="col-1">종목</th>
                        <td class="col-2" id="explain_2">시간</td>
                        <td class="col-1" id="explain_3">지역</td>
                        <td class="col-4" id="explain_4">내용</td>
                        <td class="col-1" id="explain_5">경기 티어</td>
                        <td class="col-1" id="explain_6">작성자</td>
                    </tr>
                </thead>
                <tbody class="align-middle" id="explainBody">
                    <tr>
                        <td scope="row">
                            <% switch (product.sport) { case 'basketball' : %> 농구 <% break; %>
                                    <% case 'baseball' : %> 야구 <% break; %>
                                            <% case 'soccer' : %> 축구 <% break; %>
                                                    <% case 'futsal' : %> 풋살 <% break; %>
                                                            <% default: %> 기타 <% break; %>
                                                                    <% } %>
                        </td>
                        <td>
                            <%=product.formattedDay%>
                                <div>
                                    <%=product.formattedTime%>
                                </div>
                        </td>
                        <td>
                            <%=product.area%>
                        </td>
                        <td>
                            <%=product.contents%>
                        </td>
                        <td>
                            <%= product.tier.charAt(0).toUpperCase() + product.tier.slice(1) %>
                        </td>
                        <td>
                            <%=product.username%>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br>
        <div class="playerDiv">
            <div>
                <h2 class="player box">신청자 정보 📋</h2>
                <br>
            </div>
            <div class="">
                <table class="table text-center">
                    <thead class="align-middle">
                        <tr>
                            <th scope="row" class="col-1">유저 이름</th>
                            <td class="col-6">전화 번호</td>
                            <td class="col-2">페어 등급</td>
                            <td class="col-2">추천하기</td>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% let idx=0 %>
                            <% for(let applicant of product.submittedNum) { %>
                                <tr>
                                    <th scope="row">
                                        <%= applicant.username %>
                                    </th>
                                    <td>
                                        <%= applicant.phone_num %>
                                    </td>
                                    <td>
                                        <%= applicant.fair_tier %>
                                    </td>
                                    <td>
                                        <% if(product.application) { %>
                                            <form action="/products/<%= product._id %>/recommend" method="POST"
                                                onsubmit="return confirmAndDisable(this, '추천하시겠습니까?');">
                                                <!-- hidden 필드에 인덱스 값을 저장 -->
                                                <input type="hidden" name="idx" value="<%= idx %>">
                                                <button type="submit" class="btn btn-recommend">추천하기</button>
                                            </form>
                                            <% } else { %>
                                                <button title="마감된 경기만 추천이 가능합니다." type="submit" class="disabledButton"
                                                    disabled>추천하기</button>
                                                <% } %>
                                    </td>
                                </tr>
                                <% idx++ %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="backBtn">
        <a href="/mypage">
        <button class="btn btn-outline-secondary">
            마이페이지로 돌아가기
        </button>
        </a>
    </div>
    <br><br><br>
