<% layout('components/boilerplate.ejs') -%>
<link rel="stylesheet" href="/stylesheets/value.css">
<div class="">
    <div class="players">
        <h2>신청자 정보</h2>
    </div>
    <div class="">
                <table class="table text-center">
                    <thead class="align-middle">
                        <tr>
                            <th scope="row" class="col-1">유저 이름</th>
                            <td class="col-6">전화 번호</td>
                            <td class="col-2">페어 등급</td>
                            <td class="col-2">추천하기</td>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% let idx=0 %>
                            <% for(let applicant of product.submittedNum) { %>
                                <tr>
                                    <th scope="row">
                                        <%= applicant.username %>
                                    </th>
                                    <td>
                                        <%= applicant.phone_num %>
                                    </td>
                                    <td>
                                        <%= applicant.fair_tier %>
                                    </td>
                                    <td>
                                        <% if(product.application) { %>
                                        <form action="/products/<%= product._id %>/recommend" method="POST"
                                            onsubmit="return confirmAndDisable(this, '추천하시겠습니까?');">
                                            <!-- hidden 필드에 인덱스 값을 저장 -->
                                            <input type="hidden" name="idx" value="<%= idx %>">
                                            <button type="submit" class="btn-recommend">추천하기</button>
                                        </form>
                                        <% } else { %>
                                            <button title="마감된 경기만 추천이 가능합니다." type="submit" class="disabledButton" disabled>추천하기</button>
                                        <% } %>
                                    </td>
                                </tr>
                                <% idx++ %>
                            <% } %>
                    </tbody>
                </table>
    </div>
</div>