<% layout('components/boilerplate.ejs') -%>
    <link rel="stylesheet" href="/stylesheets/soccer.css">

    <div>
        <div>
            <div class="subHeader">
                <h4 class="tierClass" style="color: #02acce; text-shadow: 1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;"><span>&nbsp;아마추어 클래스</span><img src="\pictures\laurel-wreath.png" alt="">
                </h4>
                <div class="selectTier">
                    <h2>모집중인 경기<i>-soccer-</i></h2>
                </div>
            </div>
            <br>
            <div class="tierDropDown">
                <%- include('index.ejs') %>
            </div>
            <table class="table text-center">
                <thead class="align-middle">
                    <tr>
                        <th scope="row" class="col-1">지역</th>
                        <td class="col-2">시간</td>
                        <td class="col-6">내용</td>
                        <td class="col-1">작성자(등급)</td>
                        <td class="col-2">신청</td>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <% for(let product of products) { %>
                        <% if(product.tier==='amateur' ) { %>
                            <tr>
                                <th scope="row">
                                    <%=product.area%>
                                </th>
                                <td>
                                    <%=product.time%>
                                </td>
                                <td>
                                    <%=product.contents%>
                                </td>
                                <td>
                                    <%=product.username%>(<%=product.fair_tier%>)
                                </td>
                                <td><button class="applyButton" onclick="apply()">신청하기!</button></td>
                            </tr>
                            <% } %>
                                <% } %>
                </tbody>
            </table>
        </div>
        <div class="m-5 newGame">
            <a href="new"><button>+경기 등록하기</button></a>
        </div>
    </div>